CompileFlags:
  Add:
    - -DWALLY_ABI_NO_ELEMENTS
    - -DENABLE_MODULE_FROST_BIP340_MODE
---
If:
  PathMatch: packages/(core|xpc)/src/.*
CompileFlags:
  Add:
    - -I../../core/src
    - -I../../../vendor/secp256k1-frost/include
    - -I../../../vendor/libwally-core/include
    - -I../../../vendor/libwally-core/src/secp256k1/include
    - -I../../../vendor/XKCP/bin/.build/generic64/libXKCP.a
    - -I../../../vendor/XKCP/bin/generic64/libXKCP.a.headers
---
If:
  PathMatch: tests/.*
CompileFlags:
  Add:
    - -F/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/Library/Frameworks
    - -iframework
    - /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/Library/Frameworks
    - -I../packages/core/src
    - -I../vendor/secp256k1-frost/include
    - -I../vendor/libwally-core/include
    - -I../vendor/libwally-core/src/secp256k1/include
    - -I../vendor/XKCP/bin/.build/generic64/libXKCP.a
    - -I../vendor/XKCP/bin/generic64/libXKCP.a.headers
