CompileFlags:
  Add:
    - -DWALLY_ABI_NO_ELEMENTS
    - -Ivendor/libwally-core/include
    - -Ivendor/libwally-core/src/secp256k1/include
    - -Ivendor/XKCP/bin/.build/generic64/libXKCP.a
    - -Ivendor/XKCP/bin/generic64/libXKCP.a.headers
---
If:
  PathMatch: src/.*
CompileFlags:
  Add:
    - -I../../vendor/libwally-core/include
    - -I../../vendor/libwally-core/src/secp256k1/include
    - -I../../vendor/XKCP/bin/.build/generic64/libXKCP.a
    - -I../../vendor/XKCP/bin/generic64/libXKCP.a.headers
---
If:
  PathMatch: tests/.*
CompileFlags:
  Add:
    - -I../vendor/libwally-core/include
    - -I../vendor/libwally-core/src/secp256k1/include
    - -I../vendor/XKCP/bin/.build/generic64/libXKCP.a
    - -I../vendor/XKCP/bin/generic64/libXKCP.a.headers
