CompileFlags:
  Add:
    - -I/opt/homebrew/opt/secp256k1/include
    - -I/opt/homebrew/opt/openssl@3/include
---
If:
  PathMatch: src/core/Mnemonic\.m
Diagnostics:
  Suppress:
    - pp_file_not_found
